#header {
    border-bottom: solid 1px #e7e7e7;
    background-color: #f8f8f8;
    position: fixed;
    width: 100%;
    top: 0;
    z-Index: 999
}


#nav {
    display: flex;
    justify-content:space-between;
    padding: 0 10px;
}


.title {
    font-family: "Ubuntu", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em
}

a.right img {
    margin: 15px 0;
}
