@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Homework</title>
    <base href="~/" />
</head>

<body>
    <div id="root"></div>

    <script src="http://localhost:8888/app.js" asp-append-version="true"></script>
</body>
</html>